version: '3.9'
services:
  jenkins-server:
    depends_on:
      - jenkins-docker
    image: 1core2/jenkins:v5
    container_name: jenkins-server
    restart: unless-stopped
    ports:
      - 8080:8080
      - 50000:50000
    environment:
      JAVA_OPTS: "-Djenkins.install.runSetupWizard=false"
      CASC_JENKINS_CONFIG: "/var/jenkins_home/casc_configs"
      JENKINS_ADMIN_ID: ${JENKINS_ADMIN_ID}
      JENKINS_ADMIN_PASSWORD: ${JENKINS_ADMIN_PASSWORD}
      JENKINS_URL: ${JENKINS_URL}
      DOCKER_HOST: tcp://jenkins-docker:2375
      DOCKER_CERT_PATH: ""
      DOCKER_TLS_VERIFY: ""
    secrets:
      - github_ssh
      - accessKey
      - secretKey
      - dockerhubKey
      - telegram_id
      - telegram_api
      - github_pat
      - key_pem
    volumes:
      - jenkins-data:/var/jenkins_home
      - ./casc_configs:/var/jenkins_home/casc_configs/
    networks:
      - jenkins-network
 
  jenkins-docker:
    image: 1core2/docker_dind:latest
    container_name: jenkins-docker
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    restart: unless-stopped
    ports:
      - 2375:2375
    volumes:
      - jenkins-data:/var/jenkins_home
    networks:
      - jenkins-network

volumes:
  jenkins-data:

networks:
  jenkins-network:

secrets:
  github_ssh:
    file: ./credantion/id_rsa 
  accessKey: 
    file: ./credantion/aws_access_key_id
  secretKey: 
    file: ./credantion/aws_secret_access_key
  dockerhubKey: 
    file: ./credantion/dockerhubKey
  telegram_id:
    file: ./credantion/telegram_id
  telegram_api:
    file: ./credantion/telegram_api    
  github_pat:
    file: ./credantion/github_pat
  key_pem:
    file: ./credantion/dos-13-Anton_Yudin-lesson_39.pem